.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.single-block{
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px rgb(71, 69, 69) dashed;
  position: relative;
}

.close-btn{
  position: absolute;
  right: 2px;
  top: 2px;
  background-color: #acb1bb;
  padding: 0px 3px;
  cursor: pointer;
}

.validation-error-msg{
  color:rgb(236, 10, 78);
  font-size: 13px;
}
.cursor-pointer{
  cursor: pointer;
}
.search{
  display: flex;
}

.alert-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.danger-alert{
  background-color: rgb(236, 10, 78);
  padding: 2px 10px;
  width: 100%;
}
.success-alert{
  background-color: rgb(6, 185, 111);
  padding: 2px 10px;
  width: 100%;
}
.float-right{
  float: right;
}
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}