.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.single-block{
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px rgb(71, 69, 69) dashed;
  position: relative;
}

.close-btn{
  position: absolute;
  right: 2px;
  top: 2px;
  background-color: #acb1bb;
  padding: 0px 3px;
  cursor: pointer;
}

.validation-error-msg{
  color:rgb(236, 10, 78);
  font-size: 13px;
}
.cursor-pointer{
  cursor: pointer;
}
.search{
  display: flex;
}